body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    height: 30%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.192);
}

p {
    padding: 0 45px;
}

.qr {
    margin: auto;
    width: 90%;
    padding: 5%;
    border-radius: 25px;
}

.qr-title {
    font-size: 1.1em;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 1em 30px 0;
    line-height: 1.2;
}

.qr-desc {
    color: hsl(220, 15%, 55%);
    font-size: .8em;
    font-weight: 400;
    padding: 1em 25px 3em;
}

@media (max-width: 700px) {
    .main {
        width: 40%;
        height: 40%;
    }
}

@media (max-width: 375px) {
    .main {
        width: 70%;
        height: 80%;
    }
}